// Paleta de colores

$colors:(
	primary: #0075a2,
	secondary: #60d394,
	footer: hsla(220, 12%, 10%, 0.9),
	alert: #fb3640,
	alert2: #e71d36,
	bg: rgb(229, 229, 229),
	bg-item: hsl(0, 0%, 100%),
	cta: #ff9f1c,
	logoA: #FF570C,
);

// $colors:(
// 	primary: hsl(192, 26%, 27%),
// 	degradado-start: hsl(176, 100%, 32%),
// 	degradado-end:rgb(47, 172, 103),
// 	text-soft: hsl(147, 57%, 43%),
// 	text-dark: hsl(0, 0%, 11%),
// 	cascada-logo: hsl(242, 19%, 63%),
// 	bg: rgb(229, 229, 229),
// 	bg-item: hsl(0, 0%, 100%),
// 	cta: hsla(18, 90%, 53%, 0.9),
// 	logoA: #FF570C,
// 	logoin: rgb(50, 54, 67),
// 	footer: rgb(47, 172, 103)
// );